body {
  position: relative;
}
html {
  scroll-behavior: smooth;
}
#section1 {
  padding-top: 50px;
  height: 500px;
  color: #222222;
  background-color: #ecf0f1;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}
#section2 {
  padding-top: 50px;
  height: auto;
  color: #fff;
  background-color: #ecf0f1;
}
#section3 {
  padding-top: 20px;
  height: auto;
  color: #fff;
  background-color: #2c3e50;
}

.container-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: ;
}

.project {
  padding: 30px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: #15414a;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.project-link {
  width: 50%;
  border-radius: 10px;
  border-style: none;
  color: black;
  background-color: #bdc3c7;
  height: 30px;
}
.project-link:hover {
  width: 50%;
  border-radius: 10px;
  border-style: none;
  color: black;
  background-color: #3498db;
  height: 30px;
  transition: 0.6s;
}
.project-link:active {
  width: 50%;
  border-radius: 10px;
  border-style: none;
  color: black;
  background-color: #2ecc71;
  height: 30px;
}

i {
  padding-top: 50px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-link {
  color: #bdc3c7;
  justify-content: center;
  padding: 10px;
}

.contact-title {
  font-size: 35px;
  font-family: "Libre Baskerville", serif;
}

.btn-intro {
  background-color: #15414a;
  border-radius: 10px;
  border-style: none;
  width: 120px;
  color: white;
  margin: 5px;
}

.btn-intro:hover {
  background-color: #2ecc71;
  transition: 0.6s;
}

.link-style {
  color: #bdc3c7;
}

.link-style:hover {
  color: white;
  transition: 0.8s;
}
